/****************************************
COMPONENT: APP
****************************************/

body {
  margin: 0;
  padding: 0;
}

#nav {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

#nav_title {
    padding-right: 30%;
    display: block;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

#nav_title_a {
    color: inherit;
}



/********FOOTER**********/

.footer {
    width: 100%;
    background-color: black;
    padding-top: 7.5%;
}

#footer_ctn {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    display: block;
    margin-left: 25%;
}

.footer_text {
    margin-bottom: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#london_footer_text, #name_footer_text {
    color: white;
}

#button_display {
    display: none;
}

#london_button {
    margin: 0 auto;
}

.footer_list {
    list-style: none;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.footer_list {
    width: 100%;
}

li a {
    float: left;
    margin: 0 10px;
    padding-top: 2.5%;
    color: white;
    
}

hr {
    width: 80%;
    padding: 0;
    margin: 0 auto;
    background-color: black;
}

/********DROPDOWN**********/

#dropdown {
    position: absolute;
    top: 40px;
    left: -1px;
    width: 100%;
}

#option1, #option2, #option3, #option4 {
    color: white;
    display: inline-block;
    font-size: 1.5em;
    width: 100%;
}


/****************************************
COMPONENT: HOME
****************************************/

#banner_two {
    display: inline-block;
    background: black;
    width: 100%;
    padding: 35% 0;
}

.banner_two_text {
    color: white;
    display: block;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 100%;
}

#banner_three {
    background-color: #f4f0e4;
}

#evaluate_button {
    position: relative;
    top: 75px;
    left: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

#bushy_img {
    margin-right: 30%;
    padding-bottom: 5%;
}

#tag_label, #tag_label_a {
    position: absolute;
    display: block;
    top: 10%;
    left: 2.5%;
    width: 45%;
    font-size: 1em;
    background-color: black;
    opacity: .8;
}

/****************************************
COMPONENT: GUACHE
****************************************/

.guache_text {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-top: 4%;
}

#initial_guache {
    margin-top: 2.5%;
}

/****************************************
COMPONENT: MOBILE
****************************************/

.mobile_text {
    font-family: 'Roboto';
    text-align: center;
    margin-top: 4%;
}

 #mobile_ctn_one {
    margin-top: 2.5%;
}

/****************************************
COMPONENT: CONTACT
****************************************/


.contact_field {
    width: 375px;
    padding-left: 5%;
}

#first_contact_field {
    margin-top: 2.5%;
}

#submit_button {
    margin-left: 5%;
    margin-bottom: 7.5%;
}

/****************************************
COMPONENT: ABOUT
****************************************/

#about_text {
    margin: 5%;
    font-family: 'Roboto';
}

#about_header {
    font-family: 'Roboto Condensed';
}

/****************************************
MEDIA QUERIES
****************************************/

@media (min-width: 500px) {
    
/********HOME**********/

    #footer_ctn {
        margin: 0 35%;
    }
}
    

@media (min-width: 768px) { 
    
/********HOME**********/

    #footer_ctn {
        margin: 0 40%;
    }
    
    #nav_title {
        text-align: left;
    }
    
    #banner_two {
        padding: 27.5%;
    }
    
     #nav_title {
        display: inline-block;
        width: 200px;
        padding-right: 0;
    }
    
    #bushy_img {
        width: 70%;
        height: 70%;
        padding-right: 10%;
    }
    
    
    #evaluate_button {
        top: 75px;
        left: 57.5%;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.5em;
    }
    
    #tag_label, #tag_label_a {
        font-size: 1.25em;
    } 
 
    
    
/********GUACHE**********/
  
    .guache_segment {
        margin-right: 10%;
    }
    
    .guache_img {
        padding: 0;
        margin: 0;
    }
    
    #guache_img_one, #guache_img_two, #guache_img_three, #guache_img_four, #guache_img_five {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .guache_text {
        font-size: 1.5em;
    }
    
    #guache_ctn_two, #guache_ctn_three, #guache_ctn_four, #guache_ctn_five{
        margin-top: 2.5%;
    }
    
     #guache_ctn_five {
        margin-bottom: 2.5%;
    }
    
/********MOBILE**********/
    
    #mobile_img_one, #mobile_img_two, #mobile_img_three, #mobile_img_four, #mobile_img_five {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .mobile_text {
        font-size: 1.5em;
    }
    
    #mobile_ctn_two, #mobile_ctn_three, #mobile_ctn_four, #mobile_ctn_five{
        margin-top: 2.5%;
    }
    
     #mobile_ctn_five {
        margin-bottom: 2.5%;
    }
    
/********CONTACT**********/
    .contact_field {
        width: 600px;
        padding-left: 10%;
    }

    #submit_button {
        margin-left: 10%;
    }
    
    /********ABOUT**********/

    #about_text {
        margin-left: 20%;
        margin-right: 20%;
        font-size: 1.25em;
    }
}


    


@media (min-width: 1024px) {
    
/********HOME**********/
    
    #footer_ctn {
        padding-top: 0;
        margin: 0 42%;
    }
    
    #stack_nav, #stack_nav_a {
        display: none;
    }
    
    #button_display {  
        display: inline;
        color: white;
    }
    
    .nav_link {
        float: left;
        font-size: 1.4em;
        font-family: 'Roboto Condensed';
    }
    
    #nav_title {
        display: inline-block;
        width: 200px;
        padding-right: 0;
    }
    
    #bushy_img {
        width: 62%;
        height: 62%;
    }
    
    #evaluate_button {
        left: 55%;
        top: 100px;    
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
    }
    
    #banner_two {
        padding: 22.5%;
    }
    
    .banner_two_text {
        font-size: 3.5em; 
    }
    
     #tag_label, #tag_label_a {
        font-size: 1.5em;
    }
    

    
/********GUACHE**********/
     
    #guache_img_one, #guache_img_two, #guache_img_three, #guache_img_four, #guache_img_five {
        width: 80%;
        margin-left: 10%;
    }
    
    #initial_guache, #guache_ctn_two, #guache_ctn_three, #guache_ctn_four, #guache_ctn_five {
        margin-left: 10%;
        width: 80%;
    }


/********MOBILE**********/
     
  #mobile_img_one, #mobile_img_two, #mobile_img_three, #mobile_img_four, #mobile_img_five {
        width: 80%;
        margin-left: 10%;
    }
    
    #mobile_ctn_one, #mobile_ctn_two, #mobile_ctn_three, #mobile_ctn_four, #mobile_ctn_five {
        margin-left: 10%;
        width: 80%;
    } 
}

@media (min-width: 1400px) {
    
/********HOME**********/

    #tag_label, #tag_label_a {
        font-size: 1.75em;
    }
    
    #tag_label {
        top: 13%;
    }
}

